USE [KomunikacijaStudentProfesor]
GO
/****** Object:  Table [dbo].[IzabraniPredmet]    Script Date: 3/21/2018 11:01:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IzabraniPredmet](
	[StudentID] [int] NOT NULL,
	[PredmetID] [int] NOT NULL,
	[GodinaSlusanja] [int] NOT NULL,
	[Odslusao] [bit] NULL,
 CONSTRAINT [PK_IzabraniPredmet] PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC,
	[PredmetID] ASC,
	[GodinaSlusanja] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Kontakt_Informacije]    Script Date: 3/21/2018 11:01:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kontakt_Informacije](
	[KontaktID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NOT NULL,
	[ProfesorID] [int] NOT NULL,
	[DatumKontakta] [datetime] NULL,
 CONSTRAINT [PK_Kontakt] PRIMARY KEY CLUSTERED 
(
	[KontaktID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Predmet]    Script Date: 3/21/2018 11:01:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Predmet](
	[PredmetID] [int] IDENTITY(1,1) NOT NULL,
	[SifraPredmeta] [nvarchar](50) NOT NULL,
	[Predmet] [nvarchar](50) NOT NULL,
	[Semestar] [int] NULL,
	[Opis] [nvarchar](500) NULL,
 CONSTRAINT [PK_Predmet] PRIMARY KEY CLUSTERED 
(
	[PredmetID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Profesor]    Script Date: 3/21/2018 11:01:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Profesor](
	[ProfesorID] [int] IDENTITY(1,1) NOT NULL,
	[Ime] [nvarchar](50) NOT NULL,
	[Prezime] [nvarchar](50) NOT NULL,
	[DatumRodjenja] [datetime] NULL,
	[Telefon] [nvarchar](50) NULL,
	[E_mail] [nvarchar](50) NULL,
 CONSTRAINT [PK_Profesor] PRIMARY KEY CLUSTERED 
(
	[ProfesorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Student]    Script Date: 3/21/2018 11:01:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[StudentID] [int] IDENTITY(1,1) NOT NULL,
	[Ime] [nvarchar](50) NOT NULL,
	[Prezime] [nvarchar](50) NOT NULL,
	[BrojIndeksa] [nvarchar](10) NOT NULL,
	[DatumRodjenja] [datetime] NULL,
	[Adresa] [nvarchar](50) NULL,
	[E_mail] [nvarchar](50) NULL,
	[Telefon] [nvarchar](50) NULL,
 CONSTRAINT [PK_Student] PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[IzabraniPredmet] ([StudentID], [PredmetID], [GodinaSlusanja], [Odslusao]) VALUES (1, 5, 2014, 0)
INSERT [dbo].[IzabraniPredmet] ([StudentID], [PredmetID], [GodinaSlusanja], [Odslusao]) VALUES (2, 3, 2014, 0)
INSERT [dbo].[IzabraniPredmet] ([StudentID], [PredmetID], [GodinaSlusanja], [Odslusao]) VALUES (3, 11, 2013, 0)
GO
SET IDENTITY_INSERT [dbo].[Kontakt_Informacije] ON 

INSERT [dbo].[Kontakt_Informacije] ([KontaktID], [StudentID], [ProfesorID], [DatumKontakta]) VALUES (1, 103, 162, CAST(0x00009F1400000000 AS DateTime))
INSERT [dbo].[Kontakt_Informacije] ([KontaktID], [StudentID], [ProfesorID], [DatumKontakta]) VALUES (2, 410, 162, CAST(0x00009E4200000000 AS DateTime))
INSERT [dbo].[Kontakt_Informacije] ([KontaktID], [StudentID], [ProfesorID], [DatumKontakta]) VALUES (3, 300, 162, CAST(0x0000A22C00000000 AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Kontakt_Informacije] OFF
SET IDENTITY_INSERT [dbo].[Predmet] ON 

INSERT [dbo].[Predmet] ([PredmetID], [SifraPredmeta], [Predmet], [Semestar], [Opis]) VALUES (1, N'CS5WT', N'Fizika', 2, NULL)
INSERT [dbo].[Predmet] ([PredmetID], [SifraPredmeta], [Predmet], [Semestar], [Opis]) VALUES (2, N'5FIR8', N'Programiranje I', 6, N'W3JNSBWUY2')
INSERT [dbo].[Predmet] ([PredmetID], [SifraPredmeta], [Predmet], [Semestar], [Opis]) VALUES (3, N'XDVAS', N'Filozofija', 4, N'A1BJF88UGA')
SET IDENTITY_INSERT [dbo].[Predmet] OFF
SET IDENTITY_INSERT [dbo].[Profesor] ON 

INSERT [dbo].[Profesor] ([ProfesorID], [Ime], [Prezime], [DatumRodjenja], [Telefon], [E_mail]) VALUES (2, N'Aneta', N'Drenovac', CAST(0x00004BE000000000 AS DateTime), N'065-371-8294', NULL)
INSERT [dbo].[Profesor] ([ProfesorID], [Ime], [Prezime], [DatumRodjenja], [Telefon], [E_mail]) VALUES (3, N'Kristina', N'Beloica', NULL, N'065-862-6624', N'htztrt@gmail.com')
INSERT [dbo].[Profesor] ([ProfesorID], [Ime], [Prezime], [DatumRodjenja], [Telefon], [E_mail]) VALUES (4, N'Ana', N'Danković', CAST(0x0000503E00000000 AS DateTime), N'068-317-1725', N'zgplfledy@gmail.com')
GO
SET IDENTITY_INSERT [dbo].[Profesor] OFF
SET IDENTITY_INSERT [dbo].[Student] ON 

INSERT [dbo].[Student] ([StudentID], [Ime], [Prezime], [BrojIndeksa], [DatumRodjenja], [Adresa], [E_mail], [Telefon]) VALUES (1, N'Milutin', N'Dimitrijević', N'H91890', CAST(0x0000854100000000 AS DateTime), N'Subotica, Bul. 12. februar 87', N'kacfhv@gmail.com', N'063-736-3863')
INSERT [dbo].[Student] ([StudentID], [Ime], [Prezime], [BrojIndeksa], [DatumRodjenja], [Adresa], [E_mail], [Telefon]) VALUES (2, N'Tara', N'Bašić', N'G93672', CAST(0x000089EC00000000 AS DateTime), N'Užice, Ravanička 45', N'mxjyoogv@gmail.com', N'061-319-6871')
INSERT [dbo].[Student] ([StudentID], [Ime], [Prezime], [BrojIndeksa], [DatumRodjenja], [Adresa], [E_mail], [Telefon]) VALUES (3, N'Branka', N'Andrić', N'X40159', CAST(0x000083CB00000000 AS DateTime), N'Zeječar, Sremska 16', N'gsqwfgbsw@gmail.com', N'069-448-5985')
GO
SET IDENTITY_INSERT [dbo].[Student] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ_SifraPredmeta]    Script Date: 3/21/2018 11:01:16 PM ******/
ALTER TABLE [dbo].[Predmet] ADD  CONSTRAINT [UQ_SifraPredmeta] UNIQUE NONCLUSTERED 
(
	[SifraPredmeta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ_BrojIndeksa]    Script Date: 3/21/2018 11:01:16 PM ******/
ALTER TABLE [dbo].[Student] ADD  CONSTRAINT [UQ_BrojIndeksa] UNIQUE NONCLUSTERED 
(
	[BrojIndeksa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[IzabraniPredmet] ADD  DEFAULT ((0)) FOR [Odslusao]
GO
ALTER TABLE [dbo].[IzabraniPredmet]  WITH CHECK ADD  CONSTRAINT [FK_Predmet] FOREIGN KEY([PredmetID])
REFERENCES [dbo].[Predmet] ([PredmetID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[IzabraniPredmet] CHECK CONSTRAINT [FK_Predmet]
GO
ALTER TABLE [dbo].[IzabraniPredmet]  WITH CHECK ADD  CONSTRAINT [FK_Student] FOREIGN KEY([StudentID])
REFERENCES [dbo].[Student] ([StudentID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[IzabraniPredmet] CHECK CONSTRAINT [FK_Student]
GO
ALTER TABLE [dbo].[Kontakt_Informacije]  WITH CHECK ADD  CONSTRAINT [FK_ProfesorK] FOREIGN KEY([ProfesorID])
REFERENCES [dbo].[Profesor] ([ProfesorID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Kontakt_Informacije] CHECK CONSTRAINT [FK_ProfesorK]
GO
ALTER TABLE [dbo].[Kontakt_Informacije]  WITH CHECK ADD  CONSTRAINT [FK_StudentK] FOREIGN KEY([StudentID])
REFERENCES [dbo].[Student] ([StudentID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Kontakt_Informacije] CHECK CONSTRAINT [FK_StudentK]
GO
